$info-0: #f9ffff;
$info-1: #b9dfe7;
$info-2: #27556a;

$warn-0: #fefaf4;
$warn-1: #c7bb9f;
$warn-2: #724d17;

$error-0: #fdf7f6;
$error-1: #d9b6b5;
$error-2: #86342f;

$success-0: #fcfff6;
$success-1: #a9c198;
$success-2: #2c662d;

.feeds-setting {
  display: flex;
  flex-direction: column;

  .add-feed {
    position: sticky;
    left: 0;
    display: flex;
    flex-direction: column;

    .add-feed-header {
      padding: 0.5rem;
      display: flex;

      button,
      h2 {
        all: unset;
      }

      button {
        cursor: pointer;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #999;
        color: white;
        transition: background-color ease-in-out 0.1s;
      }
      h2 {
        font-size: 1.2rem;
        user-select: none;
        opacity: 0;
        transition: all 0.3s;
      }

      &.hover {
        button {
          transition-delay: 0;
          background-color: transparent;
          color: black;
        }
        h2 {
          opacity: 1;
        }
      }
    }

    .add-feed-content {
      padding: 0 10%;
      padding-bottom: 1rem;
      border-bottom: 1px solid #e1e1e1;

      .add-feed-form {
        border: 1px solid #d8d8da;
        border-radius: 3px;

        .add-feed-url-check {
          display: flex;
          height: 2rem;

          .url-input-wrap {
            position: relative;
            flex-grow: 1;

            input.url-input {
              all: unset;
              width: calc(100% - 1rem);
              height: calc(100% - 0.5rem);
              padding: 0.25rem 0.5rem;
            }

            .icon-wrap {
              position: absolute;
              display: flex;
              align-items: center;
              justify-content: center;
              top: 0;
              background-color: rgba(0, 255, 0, 0.2);
              color: green;
              width: 100%;
              height: 100%;
              cursor: not-allowed;
            }
          }
          button.url-check-btn {
            all: unset;
            cursor: pointer;
            background-color: #d8d8da;
            padding: 0.25rem;
            color: #686868;
            width: 5rem;
            text-align: center;
          }
        }
        .add-feed-info {
          border-top: 1px solid #d8d8da;
          display: flex;
          flex-direction: column;
          padding: 1rem 0.5rem;

          .add-feed-info-inputs-wrap {
            display: flex;

            & > div {
              flex-grow: 1;
              display: flex;
              flex-direction: column;

              h3 {
                all: unset;
                font-size: 0.9rem;
                font-weight: bold;
              }
            }

            .title-info {
              input {
                all: unset;
                cursor: text;
                border: 1px solid #d8d8da;
                border-radius: 5px;
                padding: 0.25rem 0.5rem;
                height: 1.5rem;
                max-width: 12rem;
              }
            }

            .collection-info {
              select {
                height: 2.2rem;
                max-width: 12rem;
                background-color: #fff;
                border: 1px solid #d8d8da;

                &:focus {
                  outline: none;
                }
              }
            }
          }
          .add-button {
            margin-top: 1rem;

            button {
              all: unset;
              cursor: pointer;
              display: flex;
              align-items: center;

              background-color: #4284cb;
              color: #fff;
              padding: 0.5rem 1rem;
              border-radius: 3px;

              svg {
                margin-right: 0.25rem;
              }
            }
          }
        }
      }

      .add-feed-message {
        display: flex;
        margin-top: 1rem;
        border-radius: 3px;
        border: 1px solid $info-1;
        background-color: $info-0;
        color: $info-2;

        .icon-wrap {
          padding-left: 0.25rem;
          width: 1.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .text-wrap {
          padding: 0.5rem;
        }

        &.warn {
          border: 1px solid $warn-1;
          background-color: $warn-0;
          color: $warn-2;
        }
        &.error {
          border: 1px solid $error-1;
          background-color: $error-0;
          color: $error-2;
        }
        &.success {
          border: 1px solid $success-1;
          background-color: $success-0;
          color: $success-2;
        }
      }
    }
  }

  .feed-collection-list {
    all: unset;
    display: flex;
    flex-direction: column;

    .feed-collection {
      all: unset;
      display: flex;
      flex-direction: column;
      padding: 1rem 0.5rem;
      border-bottom: 1px solid #e1e1e1;

      h2,
      h3,
      button {
        all: unset;
      }
      button {
        cursor: pointer;
      }

      .toggle-visiblility-btn {
        border: 1px solid #aaa;
        border-radius: 100%;
        overflow: hidden;
        padding: 1px;
        margin-right: 0.5rem;

        .inner {
          border-radius: 100%;
          width: 100%;
          height: 100%;

          &.vislble {
            background-color: #999;
          }

          &.hidden {
            background-color: transparent;
          }
        }
      }

      .feed-collection-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.25rem;
        height: 2rem;

        .left {
          display: flex;
          align-items: center;

          .toggle-visiblility-btn {
            width: 0.75rem;
            height: 0.75rem;
          }

          .collection-title-input {
            //
          }

          h2 {
            margin-top: 2px;
            font-size: 1.1rem;
            font-weight: bold;
          }
        }

        .right {
          color: white;
          font-size: 0.8rem;
          display: flex;
          align-items: center;
          position: relative;

          .expend {
            z-index: 1;
            display: flex;
            align-items: center;
            background-color: #999;
            position: absolute;
            right: 0rem;
            padding-right: 1.5rem;
            height: 1.5rem;
            border-radius: 1.5rem;
            justify-content: space-around;
            width: 0;
            transition: width 0.1s;
            overflow: hidden;

            button {
              display: flex;
              align-items: center;
            }
            .edit-btn {
              font-size: 0.7rem;
            }

            &.show {
              padding-left: 0.25rem;
              width: 3rem;
            }
          }

          .cog {
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 100%;
            background-color: #999;
          }
        }
      }

      .feed-collection-content {
        all: unset;
        display: flex;
        flex-wrap: wrap;

        .feed-item {
          display: flex;
          align-items: center;
          padding: 0.25rem;
          border-radius: 3px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          height: 1.5rem;
          position: relative;
          margin: 0.25rem 0.5rem;
          width: 10rem;
          background-color: #fafafa;

          .toggle-visiblility-btn {
            height: 0.5rem;
            width: 0.5rem;
          }

          a {
            all: unset;
            cursor: grab;
            flex-grow: 1;
            margin-right: 0.5rem;

            h3 {
              display: block;
              max-width: 9rem;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              margin-top: 1px;
            }

            &:active {
              cursor: grabbing;
            }
          }

          .btns-wrap {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: -0.5rem;

            .edit-btn,
            .delete-btn {
              width: 1rem;
              height: 1rem;
              border-radius: 100%;
              background-color: #999;
              display: flex;
              align-items: center;
              justify-content: center;
              color: white;
              transform: scale(0);
              transition: all 0.15s;
            }
            .edit-btn {
              font-size: 0.5rem;
              margin-bottom: 0.2rem;
            }
            .delete-btn {
              font-size: 0.7rem;
            }

            &.show {
              .edit-btn,
              .delete-btn {
                transform: scale(1);
              }
            }
          }
        }
      }
    }

    .add-collection {
      flex-grow: 1;
      display: flex;
      padding-top: 1.5rem;
      justify-content: center;

      button {
        all: unset;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.5);
        transition: 0.2s;

        svg {
          font-size: 1.5rem;
        }

        &:hover {
          color: rgba(0, 0, 0, 0.8);
        }
      }
    }
  }
}
