$info-0: #f9ffff;
$info-1: #b9dfe7;
$info-2: #27556a;

$warn-0: #fefaf4;
$warn-1: #c7bb9f;
$warn-2: #724d17;

$error-0: #fdf7f6;
$error-1: #d9b6b5;
$error-2: #86342f;

$success-0: #fcfff6;
$success-1: #a9c198;
$success-2: #2c662d;

.feeds-setting {
  display: flex;
  flex-direction: column;

  button,
  h3,
  input {
    all: unset;
  }

  h2 {
    margin: 0;
  }

  button {
    cursor: pointer;
  }

  input {
    cursor: text;
  }

  .add-feed {
    display: flex;
    position: sticky;
    left: 0;
    flex-direction: column;

    .add-feed-header {
      display: flex;
      padding: 0.5rem;

      button {
        display: flex;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 100%;
        align-items: center;
        justify-content: center;
        background-color: #999;
        color: white;
        transition: background-color ease-in-out 0.1s;
      }
      h2 {
        font-size: 1.2rem;
        user-select: none;
        opacity: 0;
        transition: all 0.3s;
      }

      &.hover {
        button {
          transition-delay: 0;
          background-color: transparent;
          color: black;
        }
        h2 {
          opacity: 1;
        }
      }
    }

    .add-feed-content {
      padding: 0 10%;
      padding-bottom: 1rem;
      border-bottom: 1px solid #e1e1e1;

      .add-feed-form {
        border: 1px solid #d8d8da;
        border-radius: 3px;

        .add-feed-url-check {
          display: flex;
          height: 2rem;

          .url-input-wrap {
            position: relative;
            flex-grow: 1;

            input.url-input {
              all: unset;
              width: calc(100% - 1rem);
              height: calc(100% - 0.5rem);
              padding: 0.25rem 0.5rem;
            }

            .icon-wrap {
              display: flex;
              position: absolute;
              top: 0;
              align-items: center;
              justify-content: center;
              background-color: rgba(0, 255, 0, 0.2);
              color: green;
              width: 100%;
              height: 100%;
              cursor: not-allowed;
            }
          }
          button.url-check-btn {
            all: unset;
            cursor: pointer;
            background-color: #d8d8da;
            padding: 0.25rem;
            color: #686868;
            width: 5rem;
            text-align: center;
          }
        }
        .add-feed-info {
          display: flex;
          border-top: 1px solid #d8d8da;
          flex-direction: column;
          padding: 1rem 0.5rem;

          .add-feed-info-inputs-wrap {
            display: flex;

            & > div {
              display: flex;
              flex-grow: 1;
              flex-direction: column;

              h3 {
                all: unset;
                font-size: 0.9rem;
                font-weight: bold;
              }
            }

            .title-info {
              input {
                all: unset;
                cursor: text;
                border: 1px solid #d8d8da;
                border-radius: 5px;
                padding: 0.25rem 0.5rem;
                height: 1.5rem;
                max-width: 12rem;
              }
            }

            .collection-info {
              select {
                height: 2.2rem;
                max-width: 12rem;
                background-color: #fff;
                border: 1px solid #d8d8da;

                &:focus {
                  outline: none;
                }
              }
            }
          }
          .add-button {
            margin-top: 1rem;

            button {
              all: unset;
              display: flex;
              cursor: pointer;
              align-items: center;

              background-color: #4284cb;
              color: #fff;
              padding: 0.5rem 1rem;
              border-radius: 3px;

              svg {
                margin-right: 0.25rem;
              }
            }
          }
        }
      }

      .add-feed-message {
        display: flex;
        margin-top: 1rem;
        border-radius: 3px;
        border: 1px solid $info-1;
        background-color: $info-0;
        color: $info-2;

        .icon-wrap {
          display: flex;
          padding-left: 0.25rem;
          width: 1.5rem;
          align-items: center;
          justify-content: center;
        }
        .text-wrap {
          padding: 0.5rem;
        }

        &.warn {
          border: 1px solid $warn-1;
          background-color: $warn-0;
          color: $warn-2;
        }
        &.error {
          border: 1px solid $error-1;
          background-color: $error-0;
          color: $error-2;
        }
        &.success {
          border: 1px solid $success-1;
          background-color: $success-0;
          color: $success-2;
        }
      }
    }
  }

  .feed-collection-list {
    all: unset;
    display: flex;
    flex-direction: column;

    .feed-collection-drop-space {
      display: none;
      position: absolute;
      top: -2px;
      left: 0;
      z-index: 3;
      height: 100%;
      width: 100%;
      // background-color: rgba(255, 0, 0, 0.2);
      border-top: 3px solid transparent;
    }

    .feed-collection {
      all: unset;
      display: flex;
      position: relative;
      flex-direction: column;
      padding: 1rem 0.5rem;
      border-bottom: 1px solid #e1e1e1;

      .toggle-visiblility-btn {
        border: 1px solid #aaa;
        border-radius: 100%;
        overflow: hidden;
        padding: 1px;
        margin-right: 0.5rem;

        .inner {
          border-radius: 100%;
          width: 100%;
          height: 100%;
          &.vislble {
            background-color: #999;
          }
          &.hidden {
            background-color: transparent;
          }
        }

        &.collection-visibility-hide {
          pointer-events: none;
          .inner {
            display: none;
          }
        }
      }

      .feed-collection-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.25rem;
        height: 2rem;

        .left {
          display: flex;
          flex-grow: 1;
          align-items: center;

          .toggle-visiblility-btn {
            width: 0.75rem;
            height: 0.75rem;
          }

          .collection-title-input,
          .collection-title-text {
            height: 1.5rem;
            margin-top: 2px;
            font-size: 1.1rem;
          }
          .collection-title-input {
            flex-grow: 1;
          }
          .collection-title-text {
            cursor: grab;
            user-select: none;
            font-weight: bold;
          }
        }

        .right {
          display: flex;
          position: relative;
          color: white;
          font-size: 0.8rem;
          align-items: center;

          .expend {
            display: flex;
            position: absolute;
            right: 0rem;
            z-index: 1;
            align-items: center;
            background-color: #999;
            padding-right: 1.5rem;
            height: 1.5rem;
            border-radius: 1.5rem;
            justify-content: space-around;
            width: 0;
            transition: width 0.1s;
            overflow: hidden;

            button {
              display: flex;
              align-items: center;
            }
            .edit-btn {
              font-size: 0.7rem;
            }

            &.show {
              padding-left: 0.25rem;
              width: 3rem;
            }
          }

          .cog {
            display: flex;
            z-index: 2;
            align-items: center;
            justify-content: center;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 100%;
            background-color: #999;
          }
        }
      }

      .feed-collection-content {
        all: unset;
        display: flex;
        flex-wrap: wrap;
        min-height: 2.5rem;

        .feed-wrap {
          position: relative;

          .drop-space {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 0, 0, 0.2);
            z-index: 2;
          }
        }

        .add-pin {
          display: flex;
          position: absolute;
          top: 0;
          left: -0.45rem;
          z-index: 2;
          pointer-events: none;
          user-select: none;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 2.2rem;
          opacity: 0;

          svg {
            font-size: 0.9rem;
          }
          .line {
            min-height: 2rem;
            background-color: black;
            width: 2px;
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
          }
        }

        .feed-item {
          display: flex;
          position: relative;
          z-index: 1;
          cursor: grab;
          border-radius: 3px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          margin: 0.25rem 0.5rem;
          background-color: #fafafa;
          align-items: center;
          width: 100%;
          height: 100%;
          padding: 0.25rem;
          height: 1.5rem;
          width: 10rem;
          opacity: 1;
          transition: 0.2s;

          &.collection-visibility-hide {
            opacity: 0.4;
          }

          .toggle-visiblility-btn {
            height: 0.5rem;
            width: 0.5rem;
            min-width: 0.5rem;
          }

          h3.title-text {
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-top: 1px;
          }

          // div.title-input-wrap {
          //   input.title-input {
          //   }
          // }

          a.title-text-link,
          div.title-input-wrap {
            flex-grow: 1;
            margin-right: 0.5rem;
            max-width: 9rem;
            overflow: hidden;
          }

          .btns-wrap {
            display: flex;
            position: absolute;
            right: -0.5rem;
            flex-direction: column;

            .edit-btn,
            .delete-btn {
              display: flex;
              width: 1rem;
              height: 1rem;
              border-radius: 100%;
              background-color: #999;
              align-items: center;
              justify-content: center;
              color: white;
              transform: scale(0);
              // transition: 0.15s;
              transition: 0;
            }
            .edit-btn {
              font-size: 0.5rem;
              margin-bottom: 0.2rem;
            }
            .delete-btn {
              font-size: 0.7rem;
            }

            &.show {
              .edit-btn,
              .delete-btn {
                transform: scale(1);
              }
            }

            &.is-transition {
              .edit-btn,
              .delete-btn {
                transition: 0.15s;
              }
            }
          }
        }
      }
    }

    .add-collection {
      display: flex;
      position: relative;
      flex-grow: 1;
      padding: 1.5rem 0;
      justify-content: center;

      button {
        color: rgba(0, 0, 0, 0.5);
        transition: 0.2s;

        svg {
          font-size: 1.5rem;
        }

        &:hover {
          color: rgba(0, 0, 0, 0.8);
        }
      }
    }
  }
}
