@import '../../styles/variables.scss';

.content-header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 3;
  min-height: 2rem;
  height: 2rem;
  justify-content: space-between;
  align-items: flex-start;

  button {
    all: unset;
    display: flex;
    height: 100%;
    cursor: pointer;
    color: $button-color-dark;
    font-size: 0.9rem;
    align-items: center;
    border: 1.5px solid $line-color-light;
    border-top: 0;
    border-right-width: 0;
    border-bottom-left-radius: 10px;
    background-color: $header-background-color;
    transition: 0.2s all;

    span {
      padding: 0.25rem;
    }

    svg {
      margin: 0 0.25rem;
    }

    &:hover {
      color: $button-color-emphasis;
    }
  }

  .content-header-inner-wrap {
    display: flex;
    flex-grow: 1;
    align-items: center;
    height: 100%;
    border-top: 1.5px solid $line-color-light;
    box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.1);

    .content-search {
      display: flex;
      position: relative;
      align-items: center;
      height: 1.5rem;
      width: 1.5rem;
      padding: 0 0.5rem;

      .search-active-btn {
        all: unset;
        z-index: 2;
        cursor: pointer;
        color: $primary-color-light;
        height: 1.5rem;
        width: 1.5rem;
        background-color: transparent;
        border-radius: 100%;
        transition: background-color 0.2s;

        svg {
          margin-top: 1px;
        }

        &:hover {
          background-color: $button-color-light;
        }
      }

      .search-input {
        all: unset;
        position: absolute;
        z-index: 1;
        pointer-events: none;
        height: 1.5rem;
        width: 1.5rem;
        background-color: transparent;
        border-radius: 1.5rem;
        transition: width 0.2s;
      }

      &.active {
        .search-active-btn {
          background-color: $button-color-light;
        }
        .search-input {
          background-color: $button-color-light;
          pointer-events: all;
          width: 5rem;
          padding: 0 0.75rem;

          &.tabs-search-input {
            padding-left: 1.75rem;
          }

          &.feeds-search-input {
            padding-right: 1.75rem;
          }
        }
      }
    }

    .status {
      flex-grow: 1;

      .load-progress {
        border: 1px solid $button-color-light;
        margin: 0 1rem 0 0.75rem;
        height: 1rem;
        border-radius: 1rem;

        .progress {
          border-radius: inherit;
          background-color: $button-color-dark;
          width: 0%;
          height: 100%;
          transition: width 0.1s;
        }
      }
    }
  }

  &.reverse {
    flex-direction: row-reverse;

    svg {
      transform: scaleX(-1);
    }

    button {
      flex-direction: row-reverse;
      border-right-width: 1.5px;
      border-left-width: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 10px;
    }

    button,
    .content-header-inner-wrap,
    .content-search {
      flex-direction: row-reverse;
    }
  }
}
