@import '../styles/variables.scss';
@import '../styles/themes.scss';

#Feeds,
#Tabs {
  @include themify($themes) {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: t('background-color-1');

    .feeds-content,
    .tabs-content {
      flex-grow: 1;
    }
    .feeds-content {
      border-left: 1px solid t('line-color-0');
    }
    .tabs-content {
      border-right: 1px solid t('line-color-0');
    }
  }
}
