$themes: (
  light: (
    basic-color: #fff,
    primary-color-light: #5d93dc,
    app-background-color: #f7f9fa,
    header-background-color: #fff,
    item-background-color-light: #fff,
    item-background-color-dark: #f7f9fa,
    button-color-dark: #8f9194,
    button-color-light: #e6e7e9,
    button-color-emphasis: #3d4043,
    setting-card-shadow: unquote('0 0 1px 1px rgba(0, 0, 0, 0.05), 1px 2px 3px 0 rgba(0, 0, 0, 0.1)'),
    text-color-normal: #292929,
    text-color-dark: #000,
    text-color-light: #666,
    text-color-super-light: #999,
    line-color-light: #dee0e1,
  ),
  dark: (
    basic-color: #161616,
    primary-color-light: #5d93dc,
    app-background-color: #1e1f21,
    header-background-color: #35363a,
    item-background-color-light: #2c2d30,
    item-background-color-dark: #1e1f21,
    button-color-dark: #7d7e80,
    button-color-emphasis: #e1e1e1,
    button-color-light: #3d4043,
    setting-card-shadow: unquote('0 0 1px 1px rgba(0, 0, 0, 0.5), 2px 2px 5px 0px rgba(0, 0, 0, 0.5)'),
    text-color-normal: #f0f0f0,
    text-color-dark: #efefef,
    text-color-light: #777,
    text-color-super-light: #999,
    line-color-light: #111,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
