$themes: (
  light: (
    basic-color: #ffffff,
    primary-color-light: #5d93dc,
    background-color-0: #ffffff,
    background-color-1: #f7f9fa,
    button-color-0: #e6e7e9,
    button-color-1: #aeb0b3,
    button-color-2: #3d4043,
    button-color-3: #ffffff,
    text-color-0: #222222,
    text-color-1: #3f3f3f,
    text-color-2: #666666,
    text-color-3: #999999,
    line-color-0: #dee0e1,
    line-color-1: #ebedee,
    shadow-0: unquote('0 0 1px 1px rgba(0, 0, 0, 0.05), 1px 2px 3px 0 rgba(0, 0, 0, 0.1)'),
  ),
  dark: (
    basic-color: #000000,
    primary-color-light: #5d93dc,
    background-color-0: #292a2d,
    background-color-1: #1e1f21,
    button-color-0: #333,
    button-color-1: #666,
    button-color-2: #999,
    button-color-3: #bbb,
    text-color-0: #eeeeee,
    text-color-1: #dddddd,
    text-color-2: #7a7a7a,
    text-color-3: #868686,
    line-color-0: #2c2d2e,
    line-color-1: #3a3a3a,
    shadow-0: unquote('0 0 1px 1px rgba(0, 0, 0, 0.1), 1px 2px 5px 0 rgba(0, 0, 0, 0.4)'),
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
