$header-height: 2rem;

// colors
$basic-color: #fff;
$primary-color-light: #5d93dc;
$app-background-color: #f7f9fa;
$header-background-color: #fff;
$item-background-color-light: #fff;
$item-background-color-dark: #f7f9fa;

$button-color-dark: #7d7e80;
$button-color-light: #e1e1e1;
$button-color-emphasis: #3d4043;

$setting-card-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05), 1px 2px 3px 0 rgba(0, 0, 0, 0.1);

$text-color-normal: #292929;
$text-color-dark: #000;
$text-color-light: #666;
$text-color-super-light: #999;

$line-color-light: #dee0e1;
