$header-height: 2rem;

// colors
$primary-color-light: #5d93dc;

$app-background-color: #f7f9fa;
$item-background-color-light: #fff;
$item-background-color-dark: #fff;

$button-color-dark: #9d9d9d;
$button-color-light: #e1e1e1;
$button-color-emphasis: #474747;

$text-color-normal: #292929;
$text-color-dark: #000;
$text-color-light: #666;
$text-color-super-light: #d8d8d8;

$line-color-light: #dee0e1;
