@import "../../styles/variables.scss";

#Header {
  display: flex;
  height: $header-height;
  z-index: 2;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;

  h1 {
    font-size: 1rem;
    user-select: none;
  }
}
