@import '../../../styles/themes.scss';

.modal-component {
  @include themify($themes) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    opacity: 0;
    transition: 0.3s;

    .modal-background {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
    }

    .modal-content {
      display: flex;
      flex-direction: column;
      position: absolute;
      z-index: 2;
      background-color: t('background-color-1');
      width: 30rem;
      height: 30rem;
      top: calc(50% - 15rem - 2rem);
      left: calc(50% - 15rem);
      border-radius: 5px;
      overflow: hidden;
      overflow-y: scroll;
      box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1), 3px 3px 10px 1px rgba(0, 0, 0, 0.2);

      .modal-content-header {
        display: flex;
        justify-content: space-between;
        padding: 1rem 1rem 0.5rem 1rem;
        border-bottom: 1px solid t('line-color-0');
        background-color: t('background-color-0');

        h1 {
          font-size: 1.5rem;
          margin: 0;
        }

        button {
          all: unset;
          cursor: pointer;
          color: #aaa;
          transition: 0.2s;
          font-size: 1.5rem;

          &:hover {
            color: #333;
          }
        }
      }
      .modal-children {
        flex-grow: 1;
      }
    }
  }
}
