@import "../styles/variables.scss";

html,
body {
  margin: 0;
  padding: 0;
  overscroll-behavior-y: none;
  font-family: "NotoSansKR";
}

#App {
  display: flex;
  flex-direction: column;

  .app-bottom {
    display: flex;
    position: absolute;
    top: 0;

    // .app-bottom-left .app-bottom-right
    & > div {
      display: flex;
      height: 100vh;
      width: 50vw;
      overflow: hidden;

      // #Tabs, #Feeds
      & > div {
        margin-top: $header-height;
        flex-grow: 1;
        overflow: scroll;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
    // 화면에 tab과 feed가 모두 활성화 되어있을때 가운데 라인을 위한 코드
    & > :nth-child(2) {
      & > div {
        border-left: 1px solid black;
      }
    }
  }
}
